.password-success-message {
  font-size: 2.5rem;
  text-align: center;

  p {
    padding: 1.5rem;
  }
}

.password-home-link {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 100;

  &:hover {
    text-decoration: underline;
  }
}

.password-error-message {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}
