@import 'reset';
@import 'fonts';
@import 'common';
@import 'forms';
@import 'mixins';
@import 'topbar';
@import 'home';
@import 'tooltips';
@import 'login';
@import 'signup';
@import 'helpers';
@import 'profile';
@import 'stream';
@import 'media';
@import 'filtersort';
@import 'arenas';
@import 'share';
@import 'blast';
@import 'notes';
@import 'notifications';
@import 'singlearena';
@import 'greenlight';
@import 'authmodal';
@import 'errors';
@import 'about';
@import 'editPassword';
@import 'burger';

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  height: 100%;
  letter-spacing: .5px;
  margin: 0;
  min-width: 320px;
  padding: 0;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
}

.react-root {
  height: 100%;
}

.page-content {
  background-position: right;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
}

.content-container {
  height: 100%;

  .top-bar-placeholder {
    height: $top-bar-height;
  }
}
